@import "../../custom-settings.part.less";

.cl-container.app-header {
	padding: 12px 16px;
	
	.cl-output.app-tit {
		font-size: 15px;
		font-weight: 600;
	}
}

.cl-container.card {
	padding: 12px;
	
	.cl-output.c-tit {
		font-size: 15px;
		font-weight: 600;
		color: @primary;
	}
	
	.cl-output.c-tit-sub {
		font-size: 13px;
		font-weight: 600;
	}
	
	.cl-output.label {
		font-size: 11px;
	}
}