@import "../custom-settings.part.less";

.cl-audio {
	border: @component-border-base;
	
	&.cl-focus {
		border-color: @component-focus-color;
	}
	
	&.cl-disabled .cl-overlay {
		background-color: @modal-overlay-background-color;
	}
}