@import "../custom-settings.part.less";

/* 버튼 */
.cl-button {
	font: @font-base;
	background-color: @btn-background-color;
	background-image: @component-background-image;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: @btn-border-radius;
	border-color: @btn-border-color;
	color: @btn-text-color;
	font-weight: @font-weight-medium;
	padding: (@btn-padding-y * 0) @btn-padding-x;
	text-shadow: none;
//	transition: @component-transition-base;
	
	/* 텍스트 스타일 */
	.cl-text {
	}
	
	/* 아이콘 스타일 */
	.cl-icon {
		background-size: contain;
		height: 18px;
		width: 18px;
	}
	
	/* 마우스 호버 스타일 */
	&:not(.cl-disabled):hover {
		background-color: @btn-hover-background-color;
		border-color: @btn-hover-border-color;
		color: @btn-hover-text-color;
	}
	
	/* 포커스 스타일 */
	&:focus,
	&.cl-focus {
		background-color: @btn-focus-background-color;
		border-color: @btn-focus-border-color;
		color: @btn-focus-text-color;
		outline: 2px solid @primary;
		outline-offset: -2px;
	}
	
	/* 클릭 스타일 */
	&:not(.cl-disabled).cl-activated,
	&:not(.cl-disabled):active {
		background-image: @component-background-image;
		background-color: @btn-active-background-color;
		border-color: @btn-active-border-color;
		color: @btn-active-text-color;
	}
}

/* Disable 상태의 버튼 */
.cl-button.cl-disabled {
	background-color: @btn-disabled-background-color;
	border-color: @btn-disabled-border-color;
	color: @btn-disabled-text-color;
}