@import "../custom-settings.part.less";

/* 체크 박스 */
.cl-checkbox {
	font: @font-base;
	color: @component-text-color;
	padding: 0px;
	overflow: visible !important;
	
	/* 체크박스 내부 아이템 요소 */
	.cl-checkbox-field {
	}
	
	/* 아이콘 정렬을 설정 */
	.cl-icon-wrapper {
		width: 1rem;
	}
	
	/* 체크 박스 텍스트 */
	.cl-text {
		padding: @input-padding-0 @input-padding-0 @input-padding-0 (@input-padding-x / 2);
	}
	
	/* 체크박스 아이콘 스타일 */
	.cl-checkbox-icon {
		background-image: url("../images/controls/checkbox/ic_check.svg");
		border-radius: @component-border-radius;
		width: 1rem;
		height: 1rem;
		min-height: 1rem;
	}
	
	/* 체크 박스 hover시 아이콘 스타일 */
	&:hover,
	&.cl-hover {
		.cl-checkbox-icon {
			background-image: url("../images/controls/checkbox/ic_check.svg");
		}
	}
	
	/* 체크된 체크박스의 아이콘 스타일 */
	&.cl-checked {
		.cl-icon-wrapper {
		}
		
		.cl-checkbox-icon {
			background-image: url("../images/controls/checkbox/ic_check_on.svg");
		}
		
		/* 체크된 체크박스 hover시 아이콘 스타일 */
		&:hover,
		&.cl-hover {
			.cl-checkbox-icon {
				background-image: url("../images/controls/checkbox/ic_check_on.svg");
			}
		}
	}
	
	/* disabled 체크박스 스타일 */
	&.cl-disabled {
		.cl-text {
			color: @component-disabled-text-color;
		}
		
		.cl-checkbox-icon {
			background-image: url("../images/controls/checkbox/ic_check_off.svg");
		}
		
		/* disabled 체크박스 hover시 아이콘 스타일 */
		&:hover,
		&.cl-hover {
			.cl-checkbox-icon {
				background-image: url("../images/controls/checkbox/ic_check_off.svg");
			}
		}
		
		/* 체크된 disabled 체크박스의 아이콘 스타일 */
		&.cl-checked {
			.cl-checkbox-icon {
				background-image: url("../images/controls/checkbox/ic_check_off_on.svg");
			}
			
			/* 체크된 disabled 체크박스 hover시 아이콘 스타일 */
			&:hover,
			&.cl-hover {
				.cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check_off_on.svg");
				}
			}
		}
	}
	
	/* 체크박스 focus 스타일 */
	&.cl-focus {
		.cl-checkbox-icon {
			outline: none;
			outline: 2px solid @primary;
			outline-offset: -2px;
		}
		
		&.cl-iconalign-none {
			.cl-text {
				outline: none;
			}
		}
	}
	
	/* 체크박스 부분선택 아이콘 스타일 */
	&.cl-partialchecked {
		.cl-checkbox-icon {
			background-image: url("../images/controls/checkbox/ic_check_partial.svg");
		}
		
		&:hover,
		&.cl-hover {
			.cl-checkbox-icon {
				background-image: url("../images/controls/checkbox/ic_check_partial.svg");
			}
		}
		
		&.cl-disabled {
			.cl-checkbox-icon {
				background-image: url("../images/controls/checkbox/ic_check_partial.svg");
			}
			
			&:hover,
			&.cl-hover {
				.cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check_partial.svg");
				}
			}
		}
	}
	
	/* iconAlign=right 스타일 */
	&.cl-iconalign-right {
		.cl-text {
			padding: @input-padding-0 (@input-padding-x / 2) @input-padding-0 @input-padding-0;
		}
	}
	
	/* iconAlign=top 스타일 */
	&.cl-iconalign-top {
		.cl-icon-wrapper {
		}
		
		.cl-text {
			padding: (@input-padding-x / 2) @input-padding-0 @input-padding-0 @input-padding-0;
		}
	}
	
	/* iconAlign=bottom 스타일 */
	&.cl-iconalign-bottom {
		.cl-icon-wrapper {
		}
		
		.cl-text {
			padding: @input-padding-0 @input-padding-0 (@input-padding-x / 2) @input-padding-0;
		}
	}
	
	/* hideIcon=true 스타일 */
	&.cl-iconalign-none {
		.cl-text {
			padding: @input-padding-0;
		}
	}
	
	/* fixedWidth설정시 .cl-checkbox-icon의 width와 같은 값으로 설정 */
	&.cl-fixedWidth {
		.cl-icon-wrapper {
			width: 1rem;
		}
	}
}

/* 체크박스그룹 */
.cl-checkboxgroup {
	font: @font-base;
	color: @component-text-color;
	overflow: visible !important;
	
	/* 체크박스그룹 focus 스타일 */
	&.cl-focus {
		/* 체크박스그룹 내에 focus를 받은 체크박스 focus 아이콘 스타일 */
		.cl-checkbox {
			.cl-checkbox-icon {
				&:focus,
				&.cl-focus {
					outline: none;
					outline: 2px solid @primary;
					outline-offset: -2px;
				}
			}
		}
	}
	
	/* disabled 체크박스그룹 스타일 */
	&.cl-disabled {
		color: @component-disabled-text-color;
		
		/* disabled 체크박스그룹의 체크박스 스타일 */
		.cl-checkbox {
			.cl-text {
				color: @component-disabled-text-color;
			}
			
			.cl-checkbox-icon {
				background-color: @component-disabled-background-color;
			}
			
			/* disabled 체크박스그룹에 체크박스 hover시 아이콘 스타일 */
			&:hover,
			&.cl-hover {
				.cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check.svg");
				}
			}
			
			/* disabled 체크박스그룹 내에 체크된 체크박스 아이콘 스타일 */
			&.cl-checked {
				.cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check_off.svg");
				}
				
				/* disabled 체크박스그룹 내에 체크된 체크박스 hover시 아이콘 스타일 */
				&:hover,
				&.cl-hover {
					.cl-checkbox-icon {
						background-image: url("../images/controls/checkbox/ic_check_off.svg");
					}
				}
			}
		}
	}
	
	/* 체크박스그룹의 체크박스 스타일 */
	.cl-checkbox {
		padding: 0px;
		overflow: visible !important;
		
		/* 체크박스그룹의 체크박스 내부 아이템 요소 */
		.cl-checkbox-field {
		}
		
		.cl-icon-wrapper {
		}
		
		.cl-text {
		}
		
		/* 체크박스그룹에 체크박스 hover시 아이콘 스타일 */
		&:hover,
		&.cl-hover {
			.cl-checkbox-icon {
				background-image: url("../images/controls/checkbox/ic_check.svg");
			}
		}
		
		/* 체크박스그룹에 체크된 체크박스 아이콘 스타일 */
		&.cl-checked {
			.cl-checkbox-icon {
				background-image: url("../images/controls/checkbox/ic_check_on.svg");
			}
			
			/* 체크박스그룹에 체크된 체크박스 hover시 아이콘 스타일 */
			&:hover,
			&.cl-hover {
				.cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check_on.svg");
				}
			}
		}
		
		/* 체크박스그룹 내에 disabled된 체크박스 스타일 */
		&.cl-disabled {
			color: @component-disabled-text-color;
			
			/* 체크박스그룹 내에 disabled된 체크박스 hover시 아이콘 스타일 */
			&:hover,
			&.cl-hover {
				.cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check.svg");
				}
			}
			
			/* 체크박스그룹 내에 disabled, 체크된 체크박스 아이콘 스타일 */
			&.cl-checked {
				.cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check_off.svg");
				}
				
				/* 체크박스그룹 내에  disabled, 체크된 체크박스 hover시 아이콘 스타일 */
				&:hover,
				&.cl-hover {
					.cl-checkbox-icon {
						background-image: url("../images/controls/checkbox/ic_check_off.svg");
					}
				}
			}
		}
	}
	
	/* iconAlign=right 스타일 */
	&.cl-iconalign-right {
		.cl-checkbox {
			.cl-text {
				padding: @input-padding-0 (@input-padding-x / 2) @input-padding-0 @input-padding-0;
			}
		}
	}
	
	/* iconAlign=top 스타일 */
	&.cl-iconalign-top {
		.cl-checkbox {
			.cl-icon-wrapper {
				// vertical-align: top;
				// text-align: center;
			}
			
			.cl-text {
				padding: (@input-padding-x / 2) @input-padding-0 @input-padding-0 @input-padding-0;
			}
		}
		
		&.cl-fixedWidth {
			.cl-icon-wrapper {
			}
		}
	}
	
	/* iconAlign=bottom 스타일 */
	&.cl-iconalign-bottom {
		.cl-checkbox {
			.cl-icon-wrapper {
				// vertical-align: top;
				// text-align: center;
			}
			
			.cl-text {
				padding: @input-padding-0 @input-padding-0 (@input-padding-x / 2) @input-padding-0;
			}
		}
		
		&.cl-fixedWidth {
			.cl-icon-wrapper {
			}
		}
	}
	
	/* hideIcon=true 스타일 */
	&.cl-iconalign-none {
		.cl-checkbox {
			.cl-text {
				padding: @input-padding-0;
			}
		}
	}
	
	&.cl-flow {
		vertical-align: middle;
	}
}