@import "../custom-settings.part.less";

/* 콤보 박스 스타일 */
.cl-combobox {
	font: @font-base;
	background-image: @component-background-image;
	background-color: @component-background-color;
	border: @component-border-base;
	border-radius: @component-border-radius;
	color: @component-text-color;
	
	/* 선택된 아이템의 아이콘 */
	.cl-icon {
	}
	
	/* 텍스트 영역 스타일 */
	.cl-text {
		padding: @input-padding-0 @input-padding-x;
		
		&.cl-placeholder {
			color: @input-placeholder-text-color !important;
		}
		
		/* preventInput=true인 경우 */
		&.cl-preventinput {
		}
	}
	
	/* 콤보 박스 펼침 버튼 */
	.cl-combobox-button {
		background: url("../images/controls/combobox/ic_btn_dropdown.svg") no-repeat center / contain;
		width: 1rem;
		margin: 0px (@input-padding-x - 2) 0px 0px;
	}
	
	/* 포커스 상태 */
	&.cl-focus {
		border-color: @component-focus-transparent-color;
		outline: 2px solid @primary;
		outline-offset: -2px;
	}
	
	&.cl-opened {
		&.cl-opened-top {
		}
		
		&.cl-opened-bottom {
		}
	}
	
	/* 비활성화 상태 */
	&.cl-disabled {
		background-color: @component-disabled-background-color;
		border-color: @component-disabled-border-color;
		color: @component-disabled-text-color;
	}
}

/* 콤보 박스의 리스트 스타일 */
.cl-combobox-list {
	font: @font-base;
	background-color: @component-background-color;
	border: @component-border-base;
	border-radius: @component-border-radius;
	color: @component-text-color;
	padding: @list-padding-y @list-padding-x;
	
	/* 리스트의 쉐도우 */
	&.cl-popup {
		box-shadow: @box-shadow-md;
	}
	
	/* 콤보박스 위에 표시될때 상태 */
	&.cl-top {
		margin-top: -4px;
	}
	
	/* 콤보박스 아래에 표시될때 상태 */
	&.cl-bottom {
		margin-top: 4px;
	}
	
	/* 리스트의 최대 높이 */
	.cl-viewport {
		max-height: @list-item-height * 10;
	}
	
	/* 콤보박스 리스트 아이템 */
	.cl-combobox-item {
		border-radius: @component-border-radius;
		height: auto;
		min-height: @list-item-height;
		padding: @list-item-padding-y @list-item-padding-x @list-item-padding-y @list-item-padding-x;
		position: relative;
		
		/* 아이템 체크박스 */
		.cl-checkbox {
			display: none;
			
			+ .cl-text {
			}
			
			&.cl-checked {
			}
		}
		
		/* 아이템 아이콘 */
		.cl-icon {
		}
		
		/* 아이템 텍스트 */
		.cl-text {
			padding: 0px;
		}
		
		/* 선택 상태 */
		&.cl-selected {
			background-color: @component-selected-background-color;
			color: @component-selected-text-color;
			
			&:before {
				content: "";
				position: absolute;
				top: calc(50% - 8px);
				right: @list-item-padding-x;
				width: 4px;
				height: 8px;
				border-right: 2px solid @component-selected-background-color;
				border-bottom: 2px solid @component-selected-background-color;
				transform: rotate(45deg);
			}
			
			&.cl-hover {
				&:before {
					content: "";
					position: absolute;
					top: calc(50% - 8px);
					right: @list-item-padding-x;
					width: 4px;
					height: 8px;
					border-right: 2px solid @component-selected-text-color;
					border-bottom: 2px solid @component-selected-text-color;
					transform: rotate(45deg);
				}
			}
		}
		
		/* 비활성화 상태 */
		&.cl-disabled {
			color: @component-disabled-text-color;
			
			/* 비활성화 상태로 선택 */
			&.cl-selected {
				background-color: @component-disabled-selected-background-color;
				color: @component-disabled-selected-text-color;
				
				&:before {
					border-color: @component-disabled-selected-text-color;
				}
			}
		}
		
		&:not(.cl-disabled) {
			/* 호버 상태 */
			&:not(.cl-selected):hover,
			&:not(.cl-selected).cl-hover {
				background-color: @component-hover-background-color;
				color: @component-hover-text-color;
			}
		}
		
		/* 콤보박스 트리 아이템 스타일 */
		&.cl-treeitem {
			padding: 0;
			
			/* 트리 아이콘 스타일 */
			.cl-treeicon {
				background-position: center;
				background-size: 16px;
			}
			
			/* 체크 박스 스타일 */
			.cl-checkbox {
				background: url("../images/controls/checkbox/ic_check.svg") no-repeat center / 20px;
				
				/* 체크 상태 */
				&.cl-checked {
					background-image: url("../images/controls/checkbox/ic_check_on.svg");
				}
				
				/* 부분 체크 상태 */
				&.cl-partialchecked {
					background-image: url("../images/controls/checkbox/ic_check_partial.svg");
				}
			}
			
			/* 텍스트 스타일 */
			.cl-text {
				padding: @input-padding-0 @input-padding-0 @input-padding-0 (@input-padding-x / 2);
			}
			
			/* 펼침 아이콘*/
			&.cl-expanded .cl-treeicon {
				background-image: url("../images/controls/tree/ic_btn_expanded.svg");
			}
			
			&.cl-expanded.cl-selected .cl-treeicon {
				background-image: url("../images/controls/tree/ic_btn_expanded.svg");
			}
			
			/* 접음 아이콘 */
			&.cl-collapsed .cl-treeicon {
				background-image: url("../images/controls/tree/ic_btn_collapsed.svg");
			}
			
			&.cl-collapsed.cl-selected .cl-treeicon {
				background-image: url("../images/controls/tree/ic_btn_collapsed.svg");
			}
			
			/* 트리 라인, 아이콘 */
			.cl-line,
			.cl-treeicon,
			.cl-treeicon-line {
				padding: 0;
			}
			
			.cl-line {
				background: linear-gradient(@component-border-color, @component-border-color) no-repeat center / 1px 100%;
			}
			
			.cl-treeicon-line {
				background: none !important;
			}
			
			/* 마지막 아이템 */
			&.cl-last {
				.cl-treeicon-line {
				}
			}
			
			/* 처음 아이템 */
			&.cl-first {
				.cl-treeicon-line {
				}
			}
			
			&.cl-first.cl-last {
				.cl-treeicon-line {
				}
			}
		}
	}
	
	/* 체크박스 다중선택 아이템 스타일 */
	&.cl-multi-select {
		.cl-combobox-item {
			&:not(.cl-disabled) {
				&.cl-selected:hover {
					background-color: @component-hover-background-color;
					color: @component-hover-text-color;
				}
				
				&.cl-hover.cl-selected {
					background-color: @component-selected-background-color;
					color: @component-selected-text-color;
				}
			}
			
			&.cl-treeitem {
				&.cl-expanded.cl-selected .cl-treeicon {
					background-image: url("../images/controls/tree/ic_btn_expanded.svg");
				}
				
				&.cl-collapsed.cl-selected .cl-treeicon {
					background-image: url("../images/controls/tree/ic_btn_collapsed.svg");
				}
			}
		}
	}
}