@import "../custom-settings.part.less";

/* 파일 인풋 루트 */
.cl-fileinput {
	font: @font-base;
	background-image: @component-background-image;
	background-color: @component-background-color;
	border: @component-border-base;
	border-radius: @component-border-radius;
	color: @component-text-color;
	line-height: 1.5;
	text-align: left;

	/* autoSize 설정시 표시되는 기본크기 */
	min-width: 26px;
	min-height: 26px;
	
	/* 파일 인풋 내 텍스트 */
	.cl-text {
		background: url("../images/controls/inputbox/ic_btn_file.svg") no-repeat right (@input-padding-x - 2) center;
		background-size: 1rem;
		padding: @input-padding-0 (@input-padding-x + 16) @input-padding-0 @input-padding-x;
		
		&.cl-placeholder {
			color: @input-placeholder-text-color !important;
		}
	}

	/* 포커스 상태 */
	&.cl-focus {
		border-color: @component-focus-transparent-color;
		outline: 2px solid @primary;
		outline-offset: -2px;
	}

	/* 비활성화 상태 */
	&.cl-disabled {
		background-color: @component-disabled-background-color;
		border-color: @component-disabled-border-color;
		color: @component-disabled-text-color;
	}

	/* 파일 인풋 - 클리어 버튼 */
	.cl-fileinput-clear {
		background: url("../images/controls/inputbox/ic_btn_clear.svg") no-repeat center / contain;
		width: 1rem;
		margin: 0px (@input-padding-x / 2) 0px 0px;
	}
	
	&:not(.cl-disabled) {
		.cl-fileinput-clear:hover {
		}
	}
}