@import "../custom-settings.part.less";

/* 그리드 */
.cl-grid {
	font: @font-base;
	background-color: @component-background-color;
	border: @component-border-base;
	border-width: 1px 0;
	border-top-color: #323234;
	border-radius: @border-radius-none;
	color: @component-text-color;
	min-width: 45px; // 헤더 0행 + 디테일 1행 + 테두리

	&.cl-disabled {
		background-color: @component-disabled-background-color;
		border-color: @component-disabled-border-color;
		color: @component-disabled-text-color;
	}
	
	/* 그리드 헤더 */
	.cl-grid-header {
		background-color: @table-header-background-color;
		background-image: @component-background-image;
		
		/* 그리드 헤더 셀 */
		.cl-grid-cell {
			color: @table-header-text-color;
			font-weight: @font-weight-semibold;
			
			/* 그리드 헤더 셀에 임베딩 된 컨트롤 */
			.cl-control {
				.cl-text {
					line-height: 1.25;
				}
			}
			
			//FIXME 나중에 수정해야 함
			/* 그리드 헤더 텍스트 및 기능 가운데 정렬 */
			display: inline-flex;
			flex-direction: row-reverse;
			justify-content: center;
		}
		
		/* @deprecated (header의 sortColumnName속성)
		 그리드 헤더 셀 정렬 인디케이터 */
		.cl-sort {
			margin: 0 0 0 2px;
			width: 14px;
			
			/* 그리드 헤더 셀 정렬 인디케이터 - 정렬 가능 */
			&.cl-sortable {
				background: url("../images/controls/grid/ic_sortable.svg") no-repeat center / 14px;
			}
			
			/* 그리드 헤더 셀 정렬 인디케이터 - 오름차순 정렬됨 */
			&.cl-sort-asc {
				background-image: url("../images/controls/grid/ic_sort_asc.svg");
			}
			
			/* 그리드 헤더 셀 정렬 인디케이터 - 내림차순 정렬됨 */
			&.cl-sort-desc {
				background-image: url("../images/controls/grid/ic_sort_desc.svg");
			}
		}
		
		/* 그리드 헤더 셀 필터 인디케이터 */
		.cl-filter {
			background: url("../images/controls/grid/ic_filter.svg") no-repeat center / 14px;
			margin: 0 0 0 2px;
			width: 14px;
			
			/* 그리드 헤더 셀 필터 인디케이터에 마우스가 호버되었을 때 스타일 */
			&:hover {
				background-image: url("../images/controls/grid/ic_filter.svg");
			}
			
			/* 그리드 헤더 셀 필터 인디케이터 - 필터되었을 때 스타일 */
			&.cl-filtered {
				background-image: url("../images/controls/grid/ic_filter_on.svg");
			}
		}
		
		/* 그리드 헤더 셀에 정렬 가능한 셀 스타일 */
		.cl-sortable-cell {
			/* 그리드 헤더 셀 정렬 인디케이터 */
			.cl-sort {
				width: 14px;
				
				/* 그리드 헤더 셀 정렬 인디케이터 - 정렬 가능한 아이콘 */
				.cl-sort-icon:before {
					content: "△";
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					background: url("../images/controls/grid/ic_sortable.svg") no-repeat center bottom / 14px;
					color: @transparent;
					font-size: 0px;
					line-height: 1;
				}
				
				/* 그리드 헤더 셀 정렬 인디케이터 - 정렬 우선 순위 영역 */
				.cl-sort-seq {
					font-size: 10px;
					line-height: 1;
				}
			}
			
			/* 그리드 헤더 셀 정렬 인디케이터 - 오름차순 정렬됨  */
			&.cl-sort-asc {
				/* 그리드 헤더 셀 정렬 인디케이터 - 오름차순 아이콘 */
				.cl-sort-icon:before {
					content: "▲";
					background-image: url("../images/controls/grid/ic_sort_asc.svg");
				}
			}
			
			/* 그리드 헤더 셀 정렬 인디케이터 - 내림차순 정렬됨  */
			&.cl-sort-desc {
				/* 그리드 헤더 셀 정렬 인디케이터 - 내림차순 아이콘 */
				.cl-sort-icon:before {
					content: "▼";
					background-image: url("../images/controls/grid/ic_sort_desc.svg");
				}
			}
		}
		
		/* 디테일에 스크롤이 생길시 우측에 생기는 빈 영역 */
		.cl-blank {
			background-color: @transparent;
		}
	}
	
	/* 그리드 디테일 */
	.cl-grid-detail {
		/* 디테일에 스크롤이 생길시 우측 하단에 생기는 빈 영역 */
		.cl-blank {
			background-color: @transparent;
		}
	}
	
	/* 그리드 푸터 */
	.cl-grid-footer {
		background-color: @table-footer-background-color;
		border-top-color: @table-cell-border-color;
		
		.cl-grid-cell {
			color: @table-footer-text-color;
			
			.cl-control {
				color: @table-footer-text-color;
				font-weight: @font-weight-semibold;
			}
		}
		
		/* 디테일에 스크롤이 생길시 우측에 생기는 빈 영역 */
		.cl-blank {
			background-color: @transparent;
		}
	}
	
	/* 좌측 틀고정 그리드 */
	&.cl-leftsplit {
		/* 좌측 틀고정시 그리드의 좌측 영역 */
		.cl-grid-leftsplit {
		}
		
		/* 좌측 틀고정시 그리드의 중앙 영역 */
		.cl-grid-centersplit {
			border-left: @component-border-base;
		}
	}
	
	/* 우측 틀고정 그리드 */
	&.cl-rightsplit {
		/* 우측 틀고정시 그리드의 우측 영역 */
		.cl-grid-rightsplit {
		}
		
		/* 우측 틀고정시 그리드의 중앙 영역 */
		.cl-grid-centersplit {
			border-right: @component-border-base;
		}
	}
	
	/* 그리드의 상단 고정 영역 */
	.cl-grid-topsplit {
		border-bottom: 3px double @component-border-color;
	}
	
	/* 그리드의 하단 고정 영역 */
	.cl-grid-bottomsplit {
		border-top: 3px double @component-border-color;
	}
	
	/* noDataMessage 보여질 때 해당 텍스트영역 스타일 */
	.cl-nodatamsg {
		color: @input-placeholder-text-color;
		vertical-align: middle;
	}
}

/* 그리드 필터 사용시 필터 다이얼로그가 펼쳐지는 영역 스타일 */
.cl-gridfilter {
	
	/* 필터 다이얼로그 뒤에 비활성화 영역을 표현하기 위해 덮히는 막 */
	&.cl-overlay {
		background-color: @modal-overlay-background-color;
		backdrop-filter: blur(4px);
	}
	
	/* 필터 다이얼로그 */
	.cl-filterdlg {
		padding: 0;
		width: 360px;
		height: 340px;
		
		background-color: @modal-background-color;
		border: @modal-border-base;
		border-radius: @border-radius-lg;
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
		padding: 0;
		
		/* 필터 다이얼로그 - 타이틀 영역 */
		.cl-filterdlg-header {
			background: @transparent;
			color: @modal-header-text-color;
			height: auto;
			padding: 16px 20px 16px 20px;

			/* 필터 다이얼로그 - 타이틀 영역의 글자 스타일 */
			.cl-text {
				font: @font-weight-medium @font-size-lg @font-family-base;
				padding: 0;
			}
			
			.cl-filterdlg-sortable,
			.cl-filterdlg-close {
				background-repeat: no-repeat;
				background-position: center;
				width: 20px;
			}
			
			.cl-filterdlg-sortable {
				background-image: url("../images/controls/grid/ic_sortable.svg");
				background-size: 16px;
				
				&.cl-filterdlg-asc {
					background-image: url("../images/controls/grid/ic_sort_asc.svg");
				}
				
				&.cl-filterdlg-desc {
					background-image: url("../images/controls/grid/ic_sort_desc.svg");
				}
			}
			
			/* 필터 다이얼로그 - 타이틀 영역의 닫기 버튼 스타일 */
			.cl-filterdlg-close {
				background-image: url("../images/controls/dialog/ic_btn_close.svg");
				background-size: 20px;
			}
		}
		
		/* 필터 다이얼로그 - 필터 찾기 영역 */
		.cl-filterdlg-search {
			margin: 0;
			padding: 16px 20px;
			
			.cl-search-input {
				font: @font-base;
				background-color: @component-background-color;
				border: @component-border-base;
				border-radius: @component-border-radius;
				color: @component-text-color;
				height: 26px;
				padding: @input-padding-0 @input-padding-x;
				
				&:focus {
					border-color: @component-focus-transparent-color;
					outline: 2px solid @primary;
					outline-offset: -2px;
				}
			}
		}
		
		/* 필터 다이얼로그 - 필터 아이템 리스트 영역 */
		.cl-filterdlg-itemlist {
			height: calc(100% - 1px);
			margin: 0 20px 0 20px;
			padding: 0 0 1rem 0;
			overflow: visible;
			
			> * {
				overflow: visible !important;
			}
			
			/* 필터 다이얼로그 - 필터 아이템 리스트 영역의 아이템 스타일 */
			.cl-filterdlg-item {
				height: @list-item-height;
				
				/* 필터 다이얼로그 - 아이템 체크박스 스타일 */
				.cl-checkbox-icon {
					background: @component-background-color url("../images/controls/checkbox/ic_check.svg") no-repeat center / contain;
					width: 1rem;
					height: 1rem;
					min-height: 1rem;
					
					&:focus {
						outline: 2px solid @primary;
						outline-offset: -2px;
					}
				}
				
				/* 필터 다이얼로그 - 아이템 체크박스가 체크되었을 때의 스타일 */
				&.cl-checked .cl-checkbox-icon {
					background-image: url("../images/controls/checkbox/ic_check_on.svg");
				}
				
				/* 필터 다이얼로그 - 아이템 글자 스타일 */
				.cl-text {
					padding: @input-padding-0 @input-padding-0 @input-padding-0 (@input-padding-x / 2);
				}
			}
		}
		
		/* 필터 다이얼로그 - 하단에 버튼 영역 */
		.cl-filterdlg-buttons {
			height: auto;
			margin: 8px 20px;
			padding: 0;

			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			
			/* 필터 다이얼로그 - 하단에 버튼 영역의 버튼 스타일 */
			.cl-button {
				display: flex !important;
				align-items: center;
				justify-content: center;
				
				border-radius: @border-radius-md;
				margin: 0;
				min-width: 56px;
				height: 32px;
				
				/* 필터 다이얼로그 - 버튼 영역의 확인 버튼 스타일 */
				&.cl-select {
					background-color: #207de9;
					border: 1px solid #207de9;
					color: #ffffff;
					
					&:focus, &.cl-focus {
						background-color: #0e6ad2;
						border-color: #0e6ad2;
						color: #ffffff;
					}
					
					&:not(.cl-disabled):hover {
						background-color: #116fda;
						border-color: #116fda;
						color: #ffffff;
					}
					
					&:not(.cl-disabled).cl-activated, &:not(.cl-disabled):active {
						background-color: #0e6ad2;
						border-color: #0e6ad2;
						color: #ffffff;
					}
				}
				
				/* 필터 다이얼로그 - 버튼 영역의 취소 버튼 스타일 */
				&.cl-cancel {
					background-color: @btn-background-color;
					border-color: @btn-border-color;
					color: @btn-text-color;
					margin: 0px 0px 0px 6px;

					&:focus, &.cl-focus {
						background-color: @btn-focus-background-color;
						border-color: @btn-focus-border-color;
						color: @btn-focus-text-color;
					}
					
					&:not(.cl-disabled):hover {
						background-color: @btn-hover-background-color;
						border-color: @btn-hover-border-color;
						color: @btn-hover-text-color;
					}
					
					&:not(.cl-disabled).cl-activated, &:not(.cl-disabled):active {
						background-color: @btn-active-background-color;
						border-color: @btn-active-border-color;
						color: @btn-active-text-color;
					}
				}
			}
			
			.cl-checkbox {
				padding: 0 0 4px 0;
				width: 100%;
				
				display: flex !important;
				justify-content: center;
				align-items: center;
				
				.cl-checkbox-icon {
					background: url("../images/controls/checkbox/ic_check.svg") no-repeat center / contain;
					width: 1rem;
					height: 1rem;
					min-height: 1rem;
				}
				
				&.cl-checked {
					.cl-checkbox-icon {
						background-image: url("../images/controls/checkbox/ic_check_on.svg");
					}
				}
			}
		}
	}
}

/* 그리드 행 */
.cl-grid-row {
	/* 보기 모드의 행 */
	&.cl-viewing {
		.cl-grid-cell {
			.cl-inputbox,
			.cl-maskeditor,
			.cl-numbereditor,
			.cl-dateinput,
			.cl-combobox,
			.cl-searchinput {
			}
		}
	}
	
	/* 홀수 행 */
	&.cl-odd-row {
	}
	
	/* 짝수 행 */
	&.cl-even-row {
	}
	
	/* 추가된 행 */
	&.cl-inserted {
		background-color: @table-row-inserted-background-color;
		color: @table-row-inserted-text-color;
		
		.cl-default-cell,
		.cl-inputbox,
		.cl-output,
		.cl-maskeditor,
		.cl-numbereditor,
		.cl-dateinput,
		.cl-button,
		.cl-textarea,
		.cl-combobox,
		.cl-treecell,
		.cl-fileinput,
		.cl-searchinput {
			color: inherit;
			font-weight: @font-weight-normal;
		}
	}
	
	/* 수정된 행 */
	&.cl-modified {
		background-color: @table-row-updated-background-color;
		color: @table-row-updated-text-color;
		
		.cl-default-cell,
		.cl-inputbox,
		.cl-output,
		.cl-maskeditor,
		.cl-numbereditor,
		.cl-dateinput,
		.cl-button,
		.cl-textarea,
		.cl-combobox,
		.cl-treecell,
		.cl-fileinput,
		.cl-searchinput {
			color: inherit;
			font-weight: @font-weight-normal;
		}
	}
	
	/* 삭제된 행 */
	&.cl-deleted {
		background-color: @table-row-deleted-background-color;
		color: @table-row-deleted-text-color;
		font-style: normal;
		
		.cl-default-cell,
		.cl-inputbox,
		.cl-output,
		.cl-maskeditor,
		.cl-numbereditor,
		.cl-dateinput,
		.cl-button,
		.cl-textarea,
		.cl-combobox,
		.cl-treecell,
		.cl-fileinput,
		.cl-searchinput {
			color: @table-row-deleted-text-color;
			font-style: inherit;
		}
	}
	
	/* 추가 후 삭제된 행 */
	&.cl-nullified {
		background-color: @table-row-deleted-background-color;
		color: @table-row-deleted-text-color;
		font-style: normal;
		
		.cl-default-cell,
		.cl-inputbox,
		.cl-output,
		.cl-maskeditor,
		.cl-numbereditor,
		.cl-dateinput,
		.cl-button,
		.cl-textarea,
		.cl-combobox,
		.cl-treecell,
		.cl-fileinput,
		.cl-searchinput {
			color: @table-row-deleted-text-color;
			font-style: inherit;
		}
	}
	
	/* 선택된 행 - 보기 모드 */
	&.cl-selected {
		background-color: @table-row-selected-background-color;
		
		&:not(.cl-deleted):not(.cl-nullified) {
			color: @table-row-selected-text-color;
		}

		/* 선택된행 포커스 스타일 */
		:focus,
		.cl-focus {
			// background-color: @selection-background;
			// color:@selection-foreground;
		}
	}
	
	/* 편집중인 행 */
	&.cl-editing {
		background-color: @table-row-edit-background-color;
		color: @table-row-edit-text-color;
	}
	
	/* 체크된 행 */
	&.cl-checked {
	}
	
	/* 행 그룹시 그룹의 헤더 */
	&.cl-rowgroup-header {
	}
	
	/* 행 그룹시 그룹의 푸터 */
	&.cl-rowgroup-footer {
	}
}

/* 모든 셀 스타일 */
.cl-grid-cell {
	border-right-color: @table-cell-border-color;
	border-bottom-color: @table-cell-border-color;
	
	&.cl-focus, &:focus {
		border-color: @component-focus-transparent-color;
		outline: 2px solid @primary;
		outline-offset: -2px;
	}
	
	
	&.cl-last-column {
		border-right: none;
	}
	
	/* columnType=checkbox, columnType=rowindex와 같이 그리드에서 기본 제공하는 컬럼 */
	.cl-builtin {
		/* columnType=checkbox */
		&.cl-checkbox {
			margin: 0;
		}
		
		/* columnType=rowindex */
		.cl-rowindex {
		}
		
		&:focus-within {
			border-color: @component-focus-transparent-color;
			outline: 2px solid @primary;
			outline-offset: -2px;
		}
	}
	
	/* 셀에 포함된 컨트롤 */
	.cl-control {
	}
	
	/* 그룹 펼침/접힘 버튼 */
	.cl-expander {
		background-size: 16px;
		
		/* 그룹 접혀짐 버튼 */
		&.cl-collapsed {
			background-image: url("../images/controls/tree/ic_btn_collapsed.svg");
		}
		
		/* 그룹 펼쳐짐 버튼 */
		&.cl-expanded {
			background-image: url("../images/controls/tree/ic_btn_expanded.svg");
		}
	}
}

/* Grid 기본 셀 스타일 */
.cl-default-cell {
	.cl-text {
	}
	
	&.cl-control {
	}
}