@import "../custom-settings.part.less";

/* 넘버 에디터  */
.cl-numbereditor {
	font: @font-base;
	background-image: @component-background-image;
	background-color: @component-background-color;
	border: @component-border-base;
	border-radius: @component-border-radius;
	color: @component-text-color;
	text-align: right;
	
	/* 넘버 에디터 텍스트 */
	.cl-text {
		padding: @input-padding-0 @input-padding-x;
		
		&.cl-placeholder {
			color: @input-placeholder-text-color !important;
		}
	}
	
	.cl-numbereditor-buttons {
		border-left: @component-border-base;
		width: 1rem;
		position: relative;
		
		
		&.cl-vertical{
			&:before {
				content: "";
				position: absolute;
				top: calc(50% - 0.5px);
				left: 0px;
				width: 100%;
				height: 1px;
				background-color: @component-border-color;
			}
		}
		&.cl-horizontal{
			&:before {
				content: "";
				position: absolute;
				left: calc(50% - 0.5px);
				top: 0px;
				height: 100%;
				width: 1px;
				background-color: @component-border-color;
			}
		}
		
		/* 넘버 에디터 스핀 업 버튼 */
		.cl-numbereditor-increase {
			background: url("../images/controls/inputbox/ic_btn_spin_up.svg") no-repeat center / 9px;
		}
		
		/* 넘버 에디터 스핀 다운 버튼 */
		.cl-numbereditor-decrease {
			background: url("../images/controls/inputbox/ic_btn_spin_down.svg") no-repeat center / 9px;
		}
	}
	
	/* 넘버 에디터 클리어 버튼*/
	.cl-numbereditor-clear {
		display: block !important;
		background: url("../images/controls/inputbox/ic_btn_clear.svg") no-repeat center / contain;
		width: 1rem;
		margin: 0px (@input-padding-x / 2) 0px 0px;
	}
	
	&:not(.cl-disabled) {
		/* 넘버 에디터 스핀 업 버튼 호버 */
		.cl-numbereditor-increase:hover {
			background-image: url("../images/controls/inputbox/ic_btn_spin_up_w.svg");
			background-color: @component-selected-background-color;
		}
		
		/* 넘버 에디터 스핀 업 버튼 액티브  */
		.cl-numbereditor-increase:active {
			background-image: url("../images/controls/inputbox/ic_btn_spin_up_w.svg");
			background-color: @component-selected-background-color;
		}
		
		/* 넘버 에디터 스핀 다운 버튼 호버 */
		.cl-numbereditor-decrease:hover {
			background-image: url("../images/controls/inputbox/ic_btn_spin_down_w.svg");
			background-color: @component-selected-background-color;
		}
		
		/* 넘버 에디터 스핀 다운 버튼 액티브 */
		.cl-numbereditor-decrease:active {
			background-image: url("../images/controls/inputbox/ic_btn_spin_down_w.svg");
			background-color: @component-selected-background-color;
		}
	}
	
	&.cl-focus {
		border-color: @component-focus-transparent-color;
		outline: 2px solid @primary;
		outline-offset: -2px;
		
		/* 넘버 에디터 focus 상태 스핀 버튼 영역 */
		.cl-numbereditor-buttons {
			border-left-color: @component-border-color;
			
			&:before {
				background-color: @component-border-color;
			}
		}
	}
	
	/* 넘버 에디터 disabled 상태  */
	&.cl-disabled {
		background-color: @component-disabled-background-color;
		border-color: @component-disabled-border-color;
		color: @component-disabled-text-color;
	}
}