@import "../custom-settings.part.less";

/* 아웃풋 */
.cl-output {
	font: @font-base;
	background-position: left center;
	background-repeat: no-repeat;
	color: @component-text-color;
	line-height: 1.5;
	
	.cl-text {
	}

	&.cl-disabled {
		color: @component-disabled-text-color;
	}
}

.cl-output {
	&.cl-output-h1 {}

	&.cl-output-h2 {}

	&.cl-output-h3 {}

	&.cl-output-h4 {}

	&.cl-output-h5 {}

	&.cl-output-h6 {}
}