@import "../custom-settings.part.less";

/* 라디오 버튼 */
.cl-radiobutton {
	font: @font-base;
	color: @component-text-color;
	overflow: visible !important;
	
	/* 라디오 버튼 아이템 */
	.cl-radiobutton-item {
		padding: 0px;
		overflow: visible !important;
		
		/* 라디오 버튼 내부 아이템 요소 */
		.cl-radiobutton-field {
		}
		
		/* 아이콘 정렬을 설정 */
		.cl-icon-wrapper {
			vertical-align: baseline;
		}
		
		/* 라디오 버튼 아이템 텍스트 */
		.cl-text {
			padding: @input-padding-0 @input-padding-0 @input-padding-0 (@input-padding-x / 2);
			color: inherit;
		}
		
		/* 라디오 아이템 아이콘 스타일 */
		.cl-radiobutton-icon {
			background-image: url("../images/controls/radiobutton/ic_radio.svg");
			border-radius: @border-radius-full;
			margin: 0;
		}
		
		/* 라디오 아이템 hover시 아이콘 스타일 */
		&:hover,
		&.cl-hover {
			.cl-radiobutton-icon {
				background-image: url("../images/controls/radiobutton/ic_radio.svg");
			}
		}
		
		/* 선택된 라디오 아이템의 아이콘 스타일 */
		&.cl-selected {
			.cl-radiobutton-icon {
				background-image: url("../images/controls/radiobutton/ic_radio_on.svg");
			}
			
			/* 선택된 라디오 아이템 hover시 아이콘 스타일 */
			&:hover,
			&.cl-hover {
				.cl-radiobutton-icon {
					background-image: url("../images/controls/radiobutton/ic_radio_on.svg");
				}
			}
		}
		
		/* disabled 라디오 아이템 스타일 */
		&.cl-disabled {
			color: @component-disabled-text-color;
			
			.cl-text {
			}
			
			.cl-radiobutton-icon {
				background-image: url("../images/controls/radiobutton/ic_radio.svg");
			}
			
			/* disabled 라디오 아이템 hover시 아이콘 스타일 */
			&:hover,
			&.cl-hover {
				.cl-radiobutton-icon {
					background-image: url("../images/controls/radiobutton/ic_radio.svg");
				}
			}
			
			/* 선택된 disabled 라디오 아이템의 아이콘 스타일 */
			&.cl-selected {
				.cl-radiobutton-icon {
					background-image: url("../images/controls/radiobutton/ic_radio_off.svg");
				}
				
				/* 선택된 disabled 라디오아이템 hover시 아이콘 스타일 */
				&:hover,
				&.cl-hover {
					.cl-radiobutton-icon {
						background-image: url("../images/controls/radiobutton/ic_radio_off.svg");
					}
				}
			}
		}
	}
	
	/* 라디오버튼 focus 스타일 */
	&:focus,
	&.cl-focus {
		.cl-radiobutton-item {
			.cl-radiobutton-icon {
				&:focus,
				&.cl-focus {
					outline: none;
					outline: 2px solid @primary;
					outline-offset: -2px;
				}
			}
		}
	}
	
	/* disabled 라디오버튼 스타일 */
	&.cl-disabled {
		.cl-radiobutton-item {
			color: @component-disabled-text-color;
			
			.cl-text {
			}
			
			.cl-radiobutton-icon {
				background-image: url("../images/controls/radiobutton/ic_radio.svg");
			}
			
			/* disabled 라디오 버튼 내 라디오 아이템 hover시 아이콘 스타일 */
			&:hover,
			&.cl-hover {
				.cl-radiobutton-icon {
					background-image: url("../images/controls/radiobutton/ic_radio.svg");
				}
			}
			
			/* disabled 라디오 버튼의 선택된 라디오 아이템 아이콘 스타일 */
			&.cl-selected {
				.cl-radiobutton-icon {
					background-image: url("../images/controls/radiobutton/ic_radio_off.svg");
				}
				
				/* disabled 라디오 버튼의 선택된 라디오 아이템 hover시 아이콘 스타일 */
				&:hover,
				&.cl-hover {
					.cl-radiobutton-icon {
						background-image: url("../images/controls/radiobutton/ic_radio_off.svg");
					}
				}
			}
		}
	}
	
	/* fixedWidth를 고정값으로 설정시 .cl-radiobutton-item의 width와 같은 값으로 설정 */
	&.cl-fixedWidth {
		.cl-radiobutton-item {
			.cl-icon-wrapper {
				width: 1rem;
			}
		}
	}
	
	/* iconAlign=right 스타일 */
	&.cl-iconalign-right {
		.cl-radiobutton-item {
			.cl-radiobutton-icon {
				margin: 0px;
			}
			.cl-text{
				padding: @input-padding-0 (@input-padding-x / 2) @input-padding-0 @input-padding-0;
			}
		}
	}

	/* iconAlign=top 스타일 */
	&.cl-iconalign-top {
		.cl-radiobutton-item {
			.cl-icon-wrapper {
				// vertical-align: top;
				// text-align: center;
			}
			.cl-radiobutton-icon {
				margin: 0px;
			}
			.cl-text{
				padding: (@input-padding-x / 2) @input-padding-0 @input-padding-0 @input-padding-0;
			}
		}

		&.cl-fixedWidth {
			.cl-icon-wrapper {
				// width: auto;
			}
		}
	}

	/* iconAlign=bottom 스타일 */
	&.cl-iconalign-bottom {
		.cl-radiobutton-item {
			.cl-icon-wrapper {
				// vertical-align: top;
				// text-align: center;
			}
			.cl-radiobutton-icon {
				margin: 0px;
			}
			.cl-text{
				padding: @input-padding-0 @input-padding-0 (@input-padding-x / 2) @input-padding-0;
			}
		}

		&.cl-fixedWidth {
			.cl-icon-wrapper {
				// width: auto;
			}
		}
	}

	/* hideIcon=true 스타일 */
	&.cl-iconalign-none {
		.cl-radiobutton-item {
			.cl-text{
				padding: @input-padding-0;
			}
		}
	}
	
	&.cl-flow {
		vertical-align: middle;
	}
}