@import "../custom-settings.part.less";

/* 사이드 내비게이션 */
.cl-sidenavigation {
	font: @font-base;
	background-color: @transparent;
	border: none;
	color: @component-text-color;
	
	/* 포커스 */
	&.cl-focus {
	}
	
	/* 사이드 내비게이션 아이템 */
	.cl-sidenavigation-item {
		min-height: @list-item-height;
		height: auto;
		padding: 0;
		
		/* 아이템 아이콘 */
		.cl-icon {
			background-image: none;
			width: 24px;
			height: 24px;
		}
		
		/* 아이템 텍스트 */
		.cl-text {
			padding: 0;
			white-space: normal;
			word-break: break-all;
			text-overflow: initial;
		}
		
		/* 아이템 뱃지 */
		.cl-badge {
		}
		
		/* 펼침 아이콘 */
		.cl-expand-icon {
			background-image: none;
			width: 16px;
			height: 16px;
		}
		
		/* 폴더 아이템 */
		&.cl-folder {
			.cl-icon {
			}
			
			&.cl-expanded .cl-expand-icon {
			}
			
			&.cl-collapsed .cl-expand-icon {
			}
		}
		
		/* 아이템 - 호버, 포커스 */
		&:hover,
		&.cl-hover,
		&:focus {
			background-color: @component-hover-background-color;
			color: @component-hover-text-color;
		}
		
		/* 아이템 - 선택됨 */
		&.cl-selected {
			background-color: @component-selected-background-color;
			color: @component-selected-text-color;
			
			&.cl-folder {
				&.cl-expanded .cl-expand-icon {
				}
				
				&.cl-collapsed .cl-expand-icon {
				}
			}
		}
		
		&.cl-disabled {
			color: @component-disabled-text-color;
			
			&:hover,
			&.cl-hover,
			&:focus {
				// background-color: transparent;
			}
			
			&.cl-selected {
				background-color: @component-disabled-selected-background-color;
				color: @component-disabled-selected-text-color;
			}
		}
	}
	
	/* 비활성화 */
	&.cl-disabled {
		color: @component-disabled-text-color;
		
		.cl-sidenavigation-item {
			&:hover,
			&.cl-hover,
			&:focus {
			}
			
			&.cl-selected {
				background-color: @component-disabled-selected-background-color;
				color: @component-disabled-selected-text-color;
			}
		}
	}
}