@import "../custom-settings.part.less";

/* 탭 폴더 - disabled */
.cl-tabfolder.cl-disabled {}

/* 탭 폴더 */
.cl-tabfolder {
	font: @font-base;

	/* 헤더 */
	.cl-tabfolder-header {
		height: @tab-item-height;

		.cl-tabfolder-prev,
		.cl-tabfolder-next {
			background-color: @btn-background-color;
			background-size: 16px;
			border: 1px solid @btn-border-color;
			border-radius: @border-radius-full;
			width: 26px;
			height: 26px;
			margin: 0 0 0 4px;
			
			&.cl-disabled {
				background-color: @btn-disabled-background-color;
				border-color: @btn-disabled-border-color;
			}
		}

		/* 좌측 스크롤 버튼 */
		.cl-tabfolder-prev {
			background-image: url("../images/controls/tabfolder/ic_btn_prev.svg");
			
			/* 비활성 상태 */
			&.cl-disabled {
				background-image: url("../images/controls/tabfolder/ic_btn_prev.svg");
			}
		}

		/* 우측 스크롤 버튼 */
		.cl-tabfolder-next {
			background-image: url("../images/controls/tabfolder/ic_btn_next.svg");

			/* 비활성 상태 */
			&.cl-disabled {
				background-image: url("../images/controls/tabfolder/ic_btn_next.svg");
			}
		}

		/* 탭 아이템 */
		.cl-tabfolder-item {
			background-color: @tab-item-background-color;
			color: @tab-item-text-color;
			font-weight: @font-weight-medium;
			font-size: @font-size-base;
			padding: @tab-item-padding-y @tab-item-padding-x @tab-item-padding-y @tab-item-padding-x;
			
			/* 탭 아이템 체크 박스 */
			.cl-checkbox {}

			.cl-text {
				&:focus {
					text-decoration: none;
				}
			}

			/* 탭 아이템 닫기 버튼 */
			.cl-tabfolder-button {
				background: url("../images/controls/tabfolder/ic_btn_close.svg") no-repeat center / 16px;
				margin: 0 0 0 0.375rem;
			}

			/* 탭 아이템 - 선택됨 */
			&.cl-selected {
				background-color: @tab-item-selected-background-color;
				color: @tab-item-selected-text-color;
				
				/* 선택된 탭 아이템 닫기 버튼 */
				.cl-tabfolder-button {
					background-image: url("../images/controls/tabfolder/ic_btn_close.svg");
				}
			}

			/* 탭 아이템 - 호버 */
			&:not(.cl-selected):hover {
				background-color: @tab-item-hover-background-color;
				color: @tab-item-hover-text-color;
			}

			/* 비활성 탭 아이템 */
			&.cl-disabled {
				background-color: @component-disabled-background-color;
				border-color: @component-disabled-border-color;
				color: @component-disabled-text-color;
			}
		}
		
		&.cl-top, &.cl-bottom {
			.cl-tabfolder-prev,
			.cl-tabfolder-next {
			}
			
			.cl-tabfolder-item {
				border: 1px solid @tab-item-border-color;
				
				&.cl-selected {
					border-color: @tab-item-selected-border-color;
				}
				
				&:not(.cl-selected):hover {
					border-color: @tab-item-hover-border-color;
				}
			}
		}
		
		&.cl-top {
			box-shadow: inset 0px -1px 0px 0px @tab-item-selected-border-color;
			
			.cl-tabfolder-item {
				border-bottom: 1px solid @tab-item-selected-border-color;
				border-radius: @component-border-radius @component-border-radius @border-radius-none @border-radius-none;
				
				&.cl-selected {
					border-bottom-color: @transparent;
				}
				
				&:not(.cl-selected):hover {
					border-bottom-color: @tab-item-selected-border-color;
				}
			}
		}
		
		&.cl-bottom {
			box-shadow: inset 0px 1px 0px 0px @tab-item-selected-border-color;
			
			.cl-tabfolder-item {
				border-top: 1px solid @tab-item-selected-border-color;
				border-radius: @border-radius-none @border-radius-none @component-border-radius @component-border-radius;
				
				&.cl-selected {
					border-top-color: @transparent;
				}
				
				&:not(.cl-selected):hover {
				}
			}
		}
	}

	/* 탭폴더 바디 */
	.cl-tabfolder-body {
		background-color: @tab-background-color;
		border: none; //@tab-border-base;
		
		/* 컨텐츠 내 여백 */
		> * > .cl-container {
			padding: 8px 0 0 0;
		}
	}
}