@import "../custom-settings.part.less";

.cl-tooltip {
	background-color: #152035;
	border: 1px solid #152035;
	border-radius: @component-border-radius;
	box-shadow: @box-shadow-none;
	padding: 2px 8px 1px 8px;
	
	.cl-control {
		color: #ffffff;
		font-weight: @font-weight-medium;
	}
}