@import "../custom-settings.part.less";

/* 트리 셀 */
.cl-treecell {
	font: @font-base;
	background-color: @component-background-color;
	border: @component-border-base;
	border-radius: @component-border-radius;
	color: @component-text-color;
	
	/* 트리 셀 안에 트리 아이템 (트리 셀에서 트리 구조가 시작되는 영역) */
	.cl-treecell-item {
		align-items: center;
		
		/* 트리 아이템이 펼치고 접혀지는 아이콘 영역 */
		.cl-treecell-treeicon {
		}
		
		/* 트리 아이템 체크박스 */
		.cl-checkbox {
			background: url("../images/controls/checkbox/ic_check.svg") no-repeat center / contain;
			width: 1rem;
			height: 1rem;
			min-height: 1rem;
			
			/* 체크된 체크박스 */
			&.cl-checked {
				background-image: url("../images/controls/checkbox/ic_check_on.svg");
				
				/* 체크된 disabled 체크박스 */
				&.cl-disabled {
					background-image: url("../images/controls/checkbox/ic_check_off_on.svg");
				}
			}
		}
		
		/* 트리 아이템의 아이콘 영역 */
		.cl-treecell-itemicon {
			background: url("../images/controls/tree/ic_file.svg") no-repeat center / 16px;
			width: 20px;
			height: 20px;
		}
		
		/* 트리 아이템의 텍스트 */
		.cl-text {
			padding: @input-padding-0 @input-padding-0 @input-padding-0 (@input-padding-x / 2);
			
			/* 트리 아이템의 인풋 영역 */
			input {
			}
		}
		
		/* 폴더형 트리 아이템 */
		&.cl-folder {
			/* 폴더형 트리 아이템의 아이콘 영역 */
			.cl-treecell-itemicon {
				background-image: url("../images/controls/tree/ic_folder.svg");
			}
			
			/* 폴더형 트리 아이템이 펼쳐졌을 때 펼치고 접혀지는 아이콘 영역 */
			&.cl-expanded > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_btn_expanded.svg");
			}
			
			/* 폴더형 트리 아이템이 접혀졌을 때 펼치고 접혀지는 아이콘 영역 */
			&.cl-collapsed > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_btn_collapsed.svg");
			}
		}
		
		/* 트리 아이템 - disabled */
		&.cl-disabled {
			color: @component-disabled-text-color;
		}
	}
	
	/* 트리셀 - focus */
	&.cl-focus {
	}
	
	/* disabled 트리셀 */
	&.cl-disabled {
		/* disabled 트리셀의 체크박스 */
		.cl-checkbox {
			/* disabled 트리셀의 체크된 체크박스 */
			&.cl-checked {
				background-image: url("../images/controls/checkbox/ic_check_off_on.svg");
			}
		}
	}
	
	/* 트리셀간 라인 */
	&.cl-treecell-lines {
		/* 트리 셀 라인 적용시 트리 셀 아이템 */
		.cl-treecell-item {
			
			
			/* 트리 라인의 확장/축소 아이콘 */
			.cl-treecell-treeicon {
				background: none !important;
			}
			
			&.cl-expanded > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_btn_expanded.svg");
			}
			
			&.cl-expanded.cl-selected > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_btn_expanded.svg");
			}
			
			&.cl-collapsed > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_btn_collapsed.svg");
			}
			
			&.cl-collapsed.cl-selected > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_btn_collapsed.svg");
			}
			
			.cl-treecell-line,
			.cl-treecell-iconline,
			.cl-treecell-treeicon {
				padding: 0;
				height: 100%;
			}
			
			/* 형제 노드에 의해 라인만 있는 영역 */
			.cl-treecell-line {
				background: linear-gradient(@component-border-color, @component-border-color) no-repeat 3px center / 2px 100%;
			}
			
			/* 현재 트리 셀의 라인 영역 */
			.cl-treecell-iconline {
				background: linear-gradient(@component-border-color, @component-border-color) no-repeat 3px center / 2px 100%, url("../images/controls/tree/ic_treeline_child.svg") no-repeat center;
			}
			
			&.cl-last {
				.cl-treecell-iconline {
					background: linear-gradient(@component-border-color, @component-border-color) no-repeat 3px calc(100% - 15px) / 2px 100%, url("../images/controls/tree/ic_treeline_child.svg") no-repeat center;
				}
			}
			
			&.cl-first {
				.cl-treecell-iconline {
					background: linear-gradient(@component-border-color, @component-border-color) no-repeat 3px center / 2px 100%, url("../images/controls/tree/ic_treeline_child.svg") no-repeat center;
				}
			}
			
			&.cl-first.cl-last {
				.cl-treecell-iconline {
					background: linear-gradient(@component-border-color, @component-border-color) no-repeat 3px center / 2px 100%, url("../images/controls/tree/ic_treeline_child.svg") no-repeat center;
				}
			}
			
			.cl-text {
			}
		}
	}
}

/* 트리 셀이 enabled이고, 트리 아이템이 enabled일때 스타일 */
.cl-treecell:not(.cl-disabled) {
	.cl-treecell-item:not(.cl-disabled) {
	}
}

/* 트리 셀 - disabled */
.cl-treecell.cl-disabled {
	background-color: @component-disabled-background-color;
	border-color: @component-disabled-border-color;
	color: @component-disabled-text-color;
}