@import "../custom-settings.part.less";

.cl-video {
	border: @component-border-base;
	
	&.cl-focus {
		border-color: @component-focus-transparent-color;
		outline: 2px solid @primary;
		outline-offset: -2px;
	}
	
	&.cl-disabled .cl-overlay {
		background-color: @modal-overlay-background-color;
	}
}
